@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.nav-menu {
  visibility: hidden;
  transform: translateX(100%);
  margin-left: auto;
  transition: all 0.3s linear;
}

.nav-menu.active {
  visibility: visible;
  transform: translateX(0);
}

.client-list {
  overflow: hidden;
}

@keyframes horizontalScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@layer base {
  h1 {
    @apply uppercase text-[24px] leading-[30px] font-[500]  sm:text-[40px] sm:leading-[40px] lg:text-[4vw] lg:leading-[4vw];
  }

  h2 {
    @apply uppercase text-[20px] leading-[20px] font-[500] sm:text-[32px] sm:leading-[32px] md:text-[48px] md:leading-[48px];
  }
}

@layer components {
  .navbar {
    @apply w-full px-[25px] py-[25px] lg:py-[30px] lg:px-[50px] 3xl:px-[80px] 3xl:py-[60px];
  }

  .container {
    @apply w-full px-[25px] lg:px-[50px] 3xl:px-[80px];
  }
}
