@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");

@font-face {
  font-family: "SF Pro Regular";
  src: url("../fonts/SFPRODISPLAYREGULAR.OTF");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Bold";
  src: url("../fonts/SFPRODISPLAYBOLD.OTF");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Medium";
  src: url("../fonts/SFPRODISPLAYMEDIUM.OTF");
  font-weight: 500;
  font-style: normal;
}

* {
  scroll-behavior: smooth;
  font-family: "SF Pro Regular", sans-serif;
}

body::-webkit-scrollbar {
  width: 1em;
}

html {
  overflow-x: hidden;
}

body::-webkit-scrollbar-track {
  background-color: #g2g2g2;
  border-radius: 40px;
}

body::-webkit-scrollbar-thumb {
  background-color: #6c6c6c;
  border-radius: 40px;
}

.idea-title {
  font-family: "DM Serif Display", serif;
  font-weight: bold;
}

.nav-menu {
  visibility: hidden;
  transform: translateX(100%);
  margin-left: auto;
  transition: all 0.3s linear;
}

.nav-menu.active {
  visibility: visible;
  transform: translateX(0);
}

.client-list {
  overflow: hidden;
}

.service-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.category-wrap {
  background-color: black;
}

.category-wrap.active {
  background: linear-gradient(to right, #63de18, #0057ff);
  padding: 3px;
}

@keyframes horizontalScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@layer base {
  h1 {
    font-family: "SF Pro Medium", sans-serif;
    @apply capitalize text-[32px] leading-[34px] font-[600]  sm:text-[40px] sm:leading-[40px] lg:font-[500] lg:text-[4vw] lg:leading-[4vw];
  }

  h2 {
    @apply uppercase text-[28px] leading-[28px] font-[600] sm:text-[32px] sm:leading-[32px] md:text-[48px] md:leading-[48px];
  }

  h3 {
    font-family: "SF Pro Medium", sans-serif;
  }
}

@layer components {
  .landing-title {
    font-family: "SF Pro Medium", sans-serif;
    @apply uppercase text-[9.5vw] leading-[9.5vw] sm:text-[8.3vw] sm:leading-[8.3vw] lg:text-[7.5vw] lg:leading-[7.5vw];
  }

  .navbar {
    @apply w-full h-[40px] pt-6 sm:h-[60px] sm:pt-10;
  }

  .container {
    @apply w-full bg-white border-b border-gray-300 px-[15px] sm:px-[25px] lg:px-[40px] 3xl:px-[80px];
  }

  .service-text {
    @apply sm:text-[40px] capitalize text-white font-bold text-[22px] lg:text-[4vw] leading-[32px] sm:leading-[50px] lg:leading-[78px] lg:tracking-wide;
  }
}

@media screen and (max-width: 1024px) {
  .service-text {
    writing-mode: horizontal-tb;
    transform: rotate(0);
  }
}
